---
import Layout from '../../layouts/Layout.astro'
import MainWrapper from '../../components/MainWrapper.astro'
import Section from '../../components/Section.astro'
---
<Layout title='Inicio | mauriballes' description='Página de inicio'>
    <MainWrapper title='Blog (WIP)' logoPath='blog'>
        <Section>
        </Section>
    </MainWrapper>
</Layout>