---
import { Image } from 'astro:assets';

interface Props {
	title: string;
	icon: string;
	href: string;
}

const { href, title, icon } = Astro.props;
---
<div class="home-social-link">
    <a href={href} target="_blank">
        <Image src={import(`../images/icons/${icon}.png`)} alt={icon} width={24}/>
        <span>{title}</span>
    </a>
</div>

<style>
    .home-social-link {
        margin: 0 1rem 1rem 0;
    }

    .home-social-link a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: inherit;
        &:hover {
            color: #808080;
        }
    }

    .home-social-link a img {
        margin-right: 4px;
    }
</style>