---
import { Image } from 'astro:assets'

interface Props {
	title: string;
    logoPath: string;
}

const { title, logoPath = 'logo-dark' } = Astro.props;
---
<main class="main-content">
    <Image src={import(`../images/logos/${logoPath}.png`)} alt="Logo Dark" width={96}/>
    <h1>{title}</h1>
    <slot></slot>
</main>

<style>
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: calc(62px + 3rem);
    }
</style>